/* * {
    border: 1px solid #000;
} */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap');

body,
html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #e9ecef;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #DA627D;
    font-size: 3.5em;
    margin: 0;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #495057;
    font-size: 1.2em;
    margin: 0;
    padding: 0.5em 0;
}

a:hover {
    opacity: 0.8;
    cursor: pointer;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    margin: 0;
}

.palette>button {
    border-radius: 100%;
    width: 3.5em;
    height: 3.5em;
    border: 1px solid #ADB5BD;
}

.palette>button:focus {
    border: 3px solid #343A40;
}

.palette>button:hover,
.buttons>button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.buttons>button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    color: #f8f9fa;
    border: 1px solid #495057;
    border-radius: 5px;
    background-color: #6C757D;
    padding: 0.2em 0.5em;
    margin: 0;
}

.flex,
.row {
    display: flex;
}

.container,
.content {
    justify-content: center;
    text-align: center;
}

.container,
.setting,
.gridInfo,
.colours,
#grid {
    flex-direction: column;
}

.container {
    gap: 2em;
    min-height: 100%;
}

.content {
    align-items: center;
    gap: 2em;
}

.setting {
    justify-content: space-around;
    align-items: center;
    height: 25em;
    width: 20em;
    gap: 1em;
}

.gridInfo {
    justify-content: center;
    gap: 1em;
    width: 100%;
}

.colours {
    width: 100%;
    gap: 1.5em;
}

.palette {
    justify-content: space-evenly;
}

.buttons {
    gap: 1.5em;
}

.row,
.pixel {
    flex: 1 0 auto;
}

.pixel {
    border: 1px solid #E9ECEF;
}

#grid {
    background-color: #fff;
    width: 550px;
    height: 550px;
    border: 1px solid #ADB5BD;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 75%;
    height: 5px;
    border-radius: 5px;
    background: #ADB5BD;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .4s;
    transition: opacity .4s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #DA627D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}


/* Colours */

#red {
    background-color: #c81d25;
}

#orange {
    background-color: #f8961e;
}

#yellow {
    background-color: #fad643;
}

#green {
    background-color: #5fad56;
}

#blue {
    background-color: #4ea8de;
}

#purple {
    background-color: #b185db;
}

#black {
    background-color: #000;
}

#white {
    background-color: #fff;
}

#rainbow {
    background-image: linear-gradient(to right, #54478c, #048ba8, #83e377, #efea5a, #f29e4c);
}

#pastel {
    background-image: linear-gradient(to right, #fbf8cc, #f1c0e8, #90dbf4, #b9fbc0);
}

#mono {
    background-image: linear-gradient(to right, #f8f9fa, #ced4da, #495057, #212529);
}

#vintage {
    background-image: linear-gradient(to right, #797d62, #d9ae94, #ffcb69, #d08c60, #997b66);
}