/* * {
    border: 1px solid #000;
} */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body,
html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #e9ecef;
}

h1 {
    font-family: 'Indie Flower', cursive;
}

.container,
.content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    flex-direction: column;
    gap: 2em;
    min-height: 100%;
}

.content {
    align-items: center;
}

#grid {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 550px;
    height: 550px;
}

.row {
    display: flex; 
    flex: 1 0 auto;
}

.pixel {
    flex: 1 0 auto;
    border: 1px solid #e9ecef;
}

.setting {
    height: 25em;
    width: 20em;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 75%;
    height: 5px;
    border-radius: 5px;
    background: #ced4da;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .4s;
    transition: opacity .4s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #495057;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.palette>button {
    border-radius: 100%;
    width: 3em;
    height: 3em;
    border: 1px solid #6c757d;
}

#red {background-color: #c81d25;}
#orange {background-color: #f8961e;}
#yellow {background-color: #fad643;}
#green {background-color: #5fad56;}
#blue {background-color: #4ea8de;}
#purple {background-color: #b185db;}
#black {background-color: #000;}
#white {background-color: #fff;}
#rainbow {background-image: linear-gradient(to right, #54478c, #048ba8, #83e377, #efea5a, #f29e4c);}
#pastel {background-image: linear-gradient(to right, #fbf8cc, #f1c0e8, #90dbf4, #b9fbc0);}
#mono {background-image: linear-gradient(to right, #f8f9fa, #ced4da, #495057, #212529);}
#vintage {background-image: linear-gradient(to right, #797d62, #d9ae94, #ffcb69, #d08c60, #997b66);}